.conic-progress-full-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

.conic-progress-fill {
  background-color: blue;
  border-radius: 50%;
}

.conic-progress-shape {
  clip-path: polygon(50% 50%, 33.75% 0, 66.25% 0);
  background-color: transparent;
}
